.container {
  text-align: center;
  margin-top: 23px;
}

table {
  margin: auto;
}

input {
  border-radius: 21px;
  border: 5px solid #244624;
  font-size: 34px;
  height: 70px;
  width: 373px;
}
button {
  border-radius: 16px;
  font-size: 36px;
  background: rgba(233, 23, 23, 0.85);
  width: 89px;
  height: 67px;
  margin: 2px;
}

.calculator {
  border: 4px solid black;
  background-color: gray;
  padding: 23px;
  border-radius: 53px;
  display: inline-block;
}

h1 {
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}
